server:
  reactive:
    session:
      cookie:
        name: MORP_SESSION

management:
  server:
    port: 8081
  endpoint:
    health:
      probes:
        enabled: true
    gateway:
      access: unrestricted
  endpoints:
    web:
      exposure:
        include:
          - "*"
  health:
    redis:
      enabled: false
  metrics:
    distribution:
      percentiles-histogram:
        http.client.requests: true
        http.server.requests: true
        spring.cloud.gateway.requests: true
    tags:
      application: ${spring.application.name}

spring:
  application:
    name: morp
  thymeleaf:
    cache: false
  main:
    banner-mode: off
  cache:
    type: caffeine
  # Workaround for native image:
  cloud:
    gateway:
      redis:
        enabled: false
      server:
        webflux:
          # Workaround to disable 2nd cacheManager
          filter:
            local-response-cache:
              enabled: false
          # Disable matching the port in the host header to enable backward compatibility.
          predicate:
            host:
              include-port: false

# Non-spring configuration goes here!
morp:
  session:
    # To enable Redis set 'store-type' to 'redis'
    # Local redis can be started like this: `docker run -p 6379:6379 redis`
    store-type: none

---
spring.config.activate.on-profile:
  - redis

management:
  health:
    redis:
      enabled: true

spring:
  cache:
    type: redis

morp:
  session:
    store-type: redis

---
spring.config.activate.on-profile:
  - wiretap

spring.cloud.gateway:
  httpclient:
    wiretap: true
  httpserver:
    wiretap: true

---
spring.config.activate.on-profile:
  - wiretap
  - test

logging.level:
  org.springframework.cloud.gateway: DEBUG
  org.springframework.http.server.reactive: DEBUG
  org.springframework.web.reactive: DEBUG
  org.springframework.security: DEBUG
  reactor.netty.http.client.HttpClient: DEBUG
  reactor.netty.http.server.HttpServer: DEBUG

---
spring.config.activate.on-profile: json-log

logging:
  structured:
    format:
      console: logstash
