server:
  servlet:
    session:
      cookie:
        name: MORP_SESSION
  max-http-request-header-size: 64KB

management:
  server:
    port: 8081
  endpoint:
    health:
      probes:
        enabled: true
    gateway:
      access: unrestricted
  endpoints:
    web:
      exposure:
        include:
          - "*"
  health:
    redis:
      enabled: false
  metrics:
    distribution:
      percentiles-histogram:
        http.client.requests: true
        http.server.requests: true
        spring.cloud.gateway.requests: true
    tags:
      application: ${spring.application.name}

spring:
  application:
    name: morp
  thymeleaf:
    cache: false
  main:
    banner-mode: off
  cache:
    type: caffeine
  # Enable virtual threads
  threads:
    virtual:
      enabled: true
  # Workaround for native image:
  cloud:
    refresh:
      enabled: false
    gateway:
      server:
        webmvc:
          # Add a dummy proxy that cannot match anything in order to create the bean definition during AOT
          trusted-proxies: "^\b$"
          forwarded-request-headers-filter:
            enabled: true
          x-forwarded-request-headers-filter:
            enabled: true

# Non-spring configuration goes here!
morp:
  session:
    # To enable Redis set 'store-type' to 'redis'
    # Local redis can be started like this: `docker run -p 6379:6379 redis`
    store-type: none

---
spring.config.activate.on-profile:
  - redis

management:
  health:
    redis:
      enabled: true

spring:
  cache:
    type: redis

morp:
  session:
    store-type: redis

---
spring.config.activate.on-profile:
  - wiretap

spring.cloud.gateway:
  httpclient:
    wiretap: true
  httpserver:
    wiretap: true

---
spring.config.activate.on-profile:
  - wiretap
  - test

logging.level:
  org.springframework.cloud.gateway: DEBUG
  org.springframework.security: DEBUG

---
spring.config.activate.on-profile: json-log

logging:
  structured:
    format:
      console: logstash