# Routing config
spring:
  cloud:
    gateway:
      server:
        webmvc:
          # Enable X-* headers in test
          trusted-proxies: ".*"
          routes:
            # test route that identifies tenant via path element
            - id: upstream-tenant-path
              uri: http://upstream:1080
              predicates:
                - Host=morp:8080
                - Path=/upstream/{tenant}/{path}
              filters:
                - SetPath=/{path}
                - SetRequestHeader=x-tenant-id, {tenant}
            # test route that identifies tenant via host header pattern
            - id: upstream-tenant-host
              uri: http://upstream:1080
              predicates:
                - Host={tenant}-morp:8080
                - Path=/upstream/{path}
              filters:
                - SetPath=/{path}
                - SetRequestHeader=x-tenant-id, {tenant}
            # add dummy route with custom predicate
            - id: host-mapping-static
              uri: https://httpbin.org
              predicates:
                - TenantFromHost=none,static.example.com,another-static.example.com
              filters:
                - SetRequestHeader=x-tenant-id, {tenant}

morp:
  default-oauth2-client-registration: keycloak

  tenant:
    tenant1:
      # Configure tenant-specific credentials here.
      registration:
        client-id: morp
        client-secret: secret
    tenant2:
      oauth2-client-registration: okta

  oauth2-client:
    registration:
      keycloak:
        provider: keycloak
        client-id: morp
        client-secret: secret
        scope:
          - openid
          - profile
          - email
      okta:
        provider: okta
        client-name: Okta-Dev
        scope: openid,profile,email
    provider:
      keycloak:
        issuer-uri: http://keycloak:8080/realms/tenant1
      okta:
        issuer-uri: https://integrator-6194182.okta.com


logging.level:
  root: INFO

# used for integration test cases - for convenience read a git-ignored properties file holding credentials
spring.config.import: optional:file:./config/secret.properties
