services:

  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    command:
      - start
      - --import-realm
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HOSTNAME_STRICT=false
      - KC_HOSTNAME_STRICT_HTTPS=false
      - KC_HTTP_PORT=9000
      - KC_PROXY=edge
    ports:
      - "9000:9000"
    volumes:
      - type: bind
        source: ./realms
        target: /opt/keycloak/data/import
    networks:
      default:
        aliases:
          - keycloak.localtest.me

  httpbin:
    image: kong/httpbin:0.2.3
    ports:
      - "80"

  redis:
    image: redis
    ports:
      - "6379:6379"
