name: Continuous Integration

on:
  push:
    branches:
      - main
    paths:
      - '**'
      - '!mkdocs/**'
  pull_request:
    branches:
      - main
    paths:
      - '**'
      - '!mkdocs/**'

jobs:
  lint:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Lint commit message(s)
        run: |
          yarn add @commitlint/cli
          yarn add @commitlint/config-conventional
          yarn run commitlint --from HEAD~${{ github.event.pull_request.commits }}

  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: snyk/actions/gradle-9-jdk21@9adf32b1121593767fc3c057af55b55db032dc04
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --sarif-file-output=snyk.sarif
      - uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: snyk.sarif

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '25'
      - uses: gradle/actions/wrapper-validation@576fcbecfed70890e466eeffd7c78d93b30b0472
      - name: Test with Gradle
        env:
          MORP_OAUTH2CLIENT_REGISTRATION_GOOGLE_CLIENTID: ${{ secrets.GOOGLE_CLIENT_ID }}
          MORP_OAUTH2CLIENT_REGISTRATION_GOOGLE_CLIENTSECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          MORP_OAUTH2CLIENT_REGISTRATION_OKTA_CLIENTID: ${{ secrets.OKTA_CLIENT_ID }}
          MORP_OAUTH2CLIENT_REGISTRATION_OKTA_CLIENTSECRET: ${{ secrets.OKTA_CLIENT_SECRET }}
          TEST_OKTA_PASSWORD: ${{ secrets.OKTA_USER_PASSWORD }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew check sonar
      - uses: mikepenz/action-junit-report@a294a61c909bd8a4b563024a2faa28897fd53ebc
        if: always()
        with:
          report_paths: build/test-results/*/*.xml
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        if: always()
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/reports/jacoco/test/jacocoTestReport.xml

  release:
    if: github.event_name == 'push'
    needs: test
    outputs:
      next-release-version: ${{ steps.semantic-release.outputs.next-release-version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.JACONI_BOT_GITHUB_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - id: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.JACONI_BOT_GITHUB_TOKEN }}
        run: |
          yarn add semantic-release
          yarn add @semantic-release/changelog
          yarn add @semantic-release/exec
          yarn add @semantic-release/git
          yarn run semantic-release

  publish-amd:
    if: needs.release.outputs.next-release-version != ''
    needs: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
      - uses: gradle/actions/wrapper-validation@576fcbecfed70890e466eeffd7c78d93b30b0472
      - uses: docker/login-action@0567fa5ae8c9a197cb207537dc5cbb43ca3d803f
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: ./gradlew bootBuildImage --publishImage --imageName=ghcr.io/${{ github.repository }}:${{ needs.release.outputs.next-release-version }}-amd64

  publish-arm:
    if: needs.release.outputs.next-release-version != ''
    needs: release
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
      - uses: gradle/actions/wrapper-validation@576fcbecfed70890e466eeffd7c78d93b30b0472
      - uses: docker/login-action@0567fa5ae8c9a197cb207537dc5cbb43ca3d803f
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: ./gradlew bootBuildImage --publishImage --imageName=ghcr.io/${{ github.repository }}:${{ needs.release.outputs.next-release-version }}-arm64

  publish:
    if: needs.release.outputs.next-release-version != ''
    needs:
      - release
      - publish-amd
      - publish-arm
    runs-on: ubuntu-latest
    steps:
      - uses: docker/login-action@0567fa5ae8c9a197cb207537dc5cbb43ca3d803f
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          docker manifest create ghcr.io/${{ github.repository }}:${{ needs.release.outputs.next-release-version }} \
               --amend ghcr.io/${{ github.repository }}:${{ needs.release.outputs.next-release-version }}-amd64 \
               --amend ghcr.io/${{ github.repository }}:${{ needs.release.outputs.next-release-version }}-arm64
          docker manifest push ghcr.io/${{ github.repository }}:${{ needs.release.outputs.next-release-version }}
          docker manifest create ghcr.io/${{ github.repository }}:latest \
               --amend ghcr.io/${{ github.repository }}:${{ needs.release.outputs.next-release-version }}-amd64 \
               --amend ghcr.io/${{ github.repository }}:${{ needs.release.outputs.next-release-version }}-arm64
          docker manifest push ghcr.io/${{ github.repository }}:latest
